.container{
    background-color: rgb(236, 177, 67);
    padding-bottom: 20px;
    min-height: 100vh;
}

.headName{
    color: rgb(34, 34, 97);
    text-align: center;
    padding-top: 20px;
}

#msg{
    text-align: center;
    color: red;
    display: none;
    margin-bottom: 20px;
}
#items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.singleItem{
    cursor: pointer;
}
#details{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

body.dark-mode .container {
    background-color: #1e1e1e;
}

body.dark-mode .headName {
    color: #f8c471;
}

body.dark-mode .card {
    background-color: #2c2c2c;
    color: white;
}

body.dark-mode .btn {
    background-color: #5c5c8a;
    border-color: #5c5c8a;
}
#theme-toggle-wrapper {
    z-index: 1050;
    background-color: rgba(255, 255, 255, 0.8); /* slightly transparent for light mode */
    border-bottom-left-radius: 10px;
}

body.dark-mode #theme-toggle-wrapper {
    background-color: rgba(18, 18, 18, 0.9); /* for dark mode */
}

#backToTopBtn {
    transition: opacity 0.3s;
}

@media (max-width: 576px) {
    #theme-toggle-wrapper {
        padding: 6px 10px;
    }
}
